In [20]:
import pandas as pd
import numpy as np

data=pd.read_excel('D:\coding\PRML\hobby\cervical cancer\glcm_properties.xlsx')
data

,Image,contrast,dissimilarity,homogeneity,energy,correlation,entropy
0,100.jpg,68.391943,3.442358,0.407688,0.086368,0.985854,6.901329
1,101.jpg,43.106726,2.694521,0.447988,0.072553,0.987294,6.636268
2,102.jpg,54.911871,3.011028,0.445394,0.083001,0.986244,6.722089
3,103.jpg,42.799076,3.005844,0.440684,0.094325,0.990842,6.823557
4,104.jpg,50.750850,4.431428,0.233907,0.024835,0.969365,6.796737
...,...,...,...,...,...,...,...
196,AAIP3.jpg,370.362591,8.350663,0.242303,0.026319,0.932099,7.245272
197,AAIQ4.jpg,92.149287,4.713655,0.273383,0.040507,0.982986,7.387314
198,AAIR3.jpg,68.926667,4.433992,0.267668,0.023987,0.988267,7.413203
199,AAJE3.jpg,58.130876,4.386633,0.252396,0.020111,0.986810,7.445082
200,AAJF4.jpg,196.930659,5.445357,0.377175,0.080367,0.985487,7.114072

In [21]:
df2=pd.read_excel('Updated_db.xlsx')
#df2=df2.sort_values(by="CaseID")
df2

,Case No.,Unnamed: 1,Aceto Image Name,Vessel Image Name,Lugol Image Name,Unnamed: 5,Aceto Uptake,Margins,Vessels,Lesion Size,Iodine Uptake,Unnamed: 11,Swede Score
0,1,NaN,1_3.jpg,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,2_3.jpg,"2.1_2.jpg , 2.2_4.jpg",2_5.jpg,NaN,2.0,2.0,1.0,1.0,2.0,NaN,8.0
2,3,NaN,3_2.jpg,NaN,3_3.jpg,NaN,2.0,NaN,NaN,NaN,2.0,NaN,9.0
3,4,NaN,4_3.jpg,4.2_4.jpg,4_5.jpg,NaN,2.0,NaN,2.0,NaN,2.0,NaN,10.0
4,5,NaN,5_3.jpg,5.1_1.jpg,5_4.jpg,NaN,2.0,NaN,1.0,NaN,2.0,NaN,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,NaN,NaN,NaN,AAIP3.jpg,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
201,202,NaN,NaN,NaN,AAIQ4.jpg,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
202,203,NaN,NaN,NaN,AAIR3.jpg,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
203,204,NaN,NaN,NaN,AAJE3.jpg,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
204,205,NaN,NaN,NaN,AAJF4.jpg,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN

In [22]:
df2.columns

Index(['Case No.', 'Unnamed: 1', 'Aceto Image Name', 'Vessel Image Name',
       ' Lugol Image Name', 'Unnamed: 5', 'Aceto Uptake', 'Margins', 'Vessels',
       'Lesion Size', 'Iodine Uptake', 'Unnamed: 11', 'Swede Score'],
      dtype='object')

In [23]:
df2.dropna(subset=[" Lugol Image Name"],inplace=True)
df2

,Case No.,Unnamed: 1,Aceto Image Name,Vessel Image Name,Lugol Image Name,Unnamed: 5,Aceto Uptake,Margins,Vessels,Lesion Size,Iodine Uptake,Unnamed: 11,Swede Score
1,2,NaN,2_3.jpg,"2.1_2.jpg , 2.2_4.jpg",2_5.jpg,NaN,2.0,2.0,1.0,1.0,2.0,NaN,8.0
2,3,NaN,3_2.jpg,NaN,3_3.jpg,NaN,2.0,NaN,NaN,NaN,2.0,NaN,9.0
3,4,NaN,4_3.jpg,4.2_4.jpg,4_5.jpg,NaN,2.0,NaN,2.0,NaN,2.0,NaN,10.0
4,5,NaN,5_3.jpg,5.1_1.jpg,5_4.jpg,NaN,2.0,NaN,1.0,NaN,2.0,NaN,9.0
5,6,NaN,6_3.jpg,6.1_2.jpg,6_4.jpg,NaN,2.0,NaN,1.0,NaN,2.0,NaN,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,NaN,NaN,NaN,AAIP3.jpg,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
201,202,NaN,NaN,NaN,AAIQ4.jpg,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
202,203,NaN,NaN,NaN,AAIR3.jpg,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
203,204,NaN,NaN,NaN,AAJE3.jpg,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
204,205,NaN,NaN,NaN,AAJF4.jpg,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN

In [24]:
df2=df2[[" Lugol Image Name","Iodine Uptake"]]
df2.sort_values(by=" Lugol Image Name")
df2

     Lugol Image Name  Iodine Uptake
1             2_5.jpg            2.0
2             3_3.jpg            2.0
3             4_5.jpg            2.0
4             5_4.jpg            2.0
5             6_4.jpg            2.0
..                ...            ...
200         AAIP3.jpg            0.0
201         AAIQ4.jpg            0.0
202         AAIR3.jpg            0.0
203         AAJE3.jpg            0.0
204         AAJF4.jpg            0.0

[63 rows x 2 columns]

In [25]:
import pandas as pd

# Assuming you have your two dataframes named df1 and df2

# Merge the dataframes based on the "Lugol Image Name" and "file name" columns
merged_df = pd.merge(df2, data, left_on=" Lugol Image Name", right_on="Image", how="inner")

# The how="inner" parameter ensures that only the rows with matching file names are included in the result.

# Now, merged_df contains the desired data with properties from both dataframes.
merged_df

,Lugol Image Name,Iodine Uptake,Image,contrast,dissimilarity,homogeneity,energy,correlation,entropy
0,2_5.jpg,2.0,2_5.jpg,162.103221,6.577881,0.286928,0.027143,0.986641,7.903428
1,3_3.jpg,2.0,3_3.jpg,42.076819,3.235763,0.393430,0.023001,0.994988,7.839803
2,4_5.jpg,2.0,4_5.jpg,56.467023,3.774274,0.349427,0.022048,0.993631,7.869393
3,5_4.jpg,2.0,5_4.jpg,254.457123,6.871304,0.324674,0.048594,0.978989,7.776543
4,6_4.jpg,2.0,6_4.jpg,57.883675,3.636667,0.327129,0.028061,0.991743,7.617489
...,...,...,...,...,...,...,...,...,...
58,AAIP3.jpg,0.0,AAIP3.jpg,370.362591,8.350663,0.242303,0.026319,0.932099,7.245272
59,AAIQ4.jpg,0.0,AAIQ4.jpg,92.149287,4.713655,0.273383,0.040507,0.982986,7.387314
60,AAIR3.jpg,0.0,AAIR3.jpg,68.926667,4.433992,0.267668,0.023987,0.988267,7.413203
61,AAJE3.jpg,0.0,AAJE3.jpg,58.130876,4.386633,0.252396,0.020111,0.986810,7.445082
62,AAJF4.jpg,0.0,AAJF4.jpg,196.930659,5.445357,0.377175,0.080367,0.985487,7.114072

In [26]:
merged_df.drop(columns=" Lugol Image Name",inplace=True)

In [27]:
merged_df.columns

Index(['Iodine Uptake', 'Image', 'contrast', 'dissimilarity', 'homogeneity',
       'energy', 'correlation', 'entropy'],
      dtype='object')

In [28]:
from sklearn.model_selection import train_test_split
X=merged_df.drop(columns=["Image","Iodine Uptake"],inplace=False)
Y=merged_df["Iodine Uptake"]
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2)
x_train

      contrast  dissimilarity  homogeneity    energy  correlation   entropy
47  228.741381       5.545937     0.427322  0.073381     0.986017  6.963466
5   132.168880       5.660720     0.271726  0.063212     0.980741  7.404756
51  138.420632       6.525617     0.204993  0.017750     0.971759  7.477464
31   75.679865       3.705839     0.381220  0.077973     0.989415  6.727382
13   97.974084       4.897693     0.309088  0.020313     0.986695  7.765761
19  426.386300      12.513254     0.120352  0.012951     0.896675  7.484641
1    42.076819       3.235763     0.393430  0.023001     0.994988  7.839803
36  191.380678       6.257347     0.267192  0.044902     0.959128  6.991422
14   64.363454       4.127885     0.366461  0.067160     0.995591  7.332208
59   92.149287       4.713655     0.273383  0.040507     0.982986  7.387314
30   77.763614       3.822333     0.393250  0.084999     0.984457  6.780237
43  123.923782       5.479593     0.261540  0.039607     0.982602  7.558452
48  151.039351       5.451341     0.291198  0.026740     0.984448  7.721484
3   254.457123       6.871304     0.324674  0.048594     0.978989  7.776543
50  158.017664       5.265407     0.387132  0.025200     0.978404  7.676912
62  196.930659       5.445357     0.377175  0.080367     0.985487  7.114072
2    56.467023       3.774274     0.349427  0.022048     0.993631  7.869393
53   82.418913       4.652776     0.272950  0.024073     0.975981  7.254522
52   63.727000       3.687042     0.362387  0.026602     0.990218  7.586470
35  186.455206       5.593084     0.326684  0.063970     0.974166  7.144826
60   68.926667       4.433992     0.267668  0.023987     0.988267  7.413203
29  286.620755       7.758027     0.254699  0.072041     0.968611  7.483957
40  238.908002       6.689579     0.334474  0.098856     0.980449  7.176071
61   58.130876       4.386633     0.252396  0.020111     0.986810  7.445082
54   63.223826       4.303037     0.268735  0.022149     0.991784  7.643081
16  123.922816       5.425670     0.278813  0.019363     0.983905  7.819097
15   48.991721       3.029134     0.423368  0.032512     0.993835  7.623656
26   59.349395       4.219366     0.304901  0.022392     0.993811  7.802369
9   118.057593       5.513425     0.296774  0.054079     0.986420  7.473138
6   117.185834       5.129218     0.306368  0.019838     0.986011  7.867030
38   95.698164       4.126627     0.393976  0.105954     0.985251  6.762359
21  139.233081       4.376932     0.422017  0.040133     0.988833  7.791731
17   84.054351       4.673542     0.295344  0.019909     0.985415  7.617780
23  526.016489      17.491166     0.082196  0.009594     0.936495  7.877112
42  210.422758       6.618231     0.328422  0.123311     0.983374  6.977686
7    79.490741       3.893669     0.369606  0.036319     0.993174  7.653949
24  672.893709      16.313738     0.165551  0.036255     0.947098  7.842787
32  306.839033       9.416542     0.190800  0.019464     0.919909  7.211644
20  486.682647      11.218600     0.246226  0.038984     0.955566  7.682247
25  106.857480       6.391973     0.205391  0.015619     0.986123  7.787505
28   77.120474       4.300957     0.292295  0.020921     0.986904  7.655243
33  195.237171       7.410581     0.225018  0.033343     0.965867  7.416299
44   92.914166       5.345909     0.272166  0.031106     0.989970  7.774874
58  370.362591       8.350663     0.242303  0.026319     0.932099  7.245272
45  172.889746       7.138398     0.209356  0.026543     0.978665  7.768328
18   46.782090       4.191823     0.267981  0.021193     0.991606  7.660497
11  231.739892       7.609174     0.290716  0.061143     0.979775  7.627064
34   72.929556       4.291471     0.321692  0.061127     0.987801  7.008770
27   27.327582       2.608642     0.433898  0.044110     0.997456  7.718637
46   69.773500       4.647155     0.283118  0.031941     0.989302  7.653881

In [29]:
from sklearn.svm import SVC 
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
svm = SVC(kernel = 'linear', C = 1).fit(x_train, y_train) 
svm_predictions = svm.predict(x_test) 
  
# model accuracy for X_test   
accuracy = svm.score(x_test, y_test) 
# creating a confusion matrix 
cm = confusion_matrix(y_test, svm_predictions) 
print("Accuracy of SVM is:",accuracy)
print(cm)

Accuracy of SVM is: 0.5384615384615384
[[0 0 5]
 [0 0 1]
 [0 0 7]]

In [30]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=25)
model.fit(x_train,y_train)
preds=model.predict(x_test)
acc=accuracy_score(y_test,preds)
print("The Accuracy of randomforestclassifier is:", acc)

parameters = {
    "n_estimators":[5,10,50,100,250],
    "max_depth":[2,4,8,16,32,None]
}

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(model,parameters,cv=5)
cv.fit(x_train,y_train)
print("The best accuracy score obtained is:",cv.best_score_," at parameters ", cv.best_params_)

The Accuracy of randomforestclassifier is: 0.6153846153846154

c:\Users\sakth\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\model_selection\_split.py:725: UserWarning: The least populated class in y has only 4 members, which is less than n_splits=5.
  warnings.warn(

The best accuracy score obtained is: 0.74  at parameters  {'max_depth': 32, 'n_estimators': 250}

In [38]:
import pickle
model=RandomForestClassifier(n_estimators=25)
model.fit(x_train,y_train)
preds=model.predict(x_test)
acc=accuracy_score(y_test,preds)
print("The Accuracy of randomforestclassifier is:", acc)
pickle.dump(model, open('lugols.pkl', 'wb'))

The Accuracy of randomforestclassifier is: 0.6923076923076923

In [31]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(x_train,y_train)
preds=model.predict(x_test)
acc=accuracy_score(y_test,preds)
print("The Accuracy of Naive Bayes is:", acc)

The Accuracy of Naive Bayes is: 0.46153846153846156

In [32]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train,y_train)
preds=model.predict(x_test)
acc=accuracy_score(y_test,preds)
print("The Accuracy of Logistic regression is:", acc)

The Accuracy of Logistic regression is: 0.5384615384615384

c:\Users\sakth\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [33]:

from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler,MinMaxScaler
import pickle

max_score=0
max_ind=-1
for i in range(1,148):
    pipe = make_pipeline(MinMaxScaler(), KNeighborsClassifier(n_neighbors=32))
    pipe.fit(x_train, y_train)  # apply scaling on training data
    score=pipe.score(x_test, y_test)
    if score>max_score:
        max_score=score
        max_ind=i
print(max_score,max_ind)

0.46153846153846156 1

In [34]:
from sklearn.linear_model import Perceptron

model=Perceptron()
model.fit(x_train,y_train)
preds=model.predict(x_test)
acc=accuracy_score(y_test,preds)

print("The accuracy of a Perceptron is:",acc)

The accuracy of a Perceptron is: 0.5384615384615384

In [35]:
from sklearn.neural_network import MLPClassifier
clf=MLPClassifier(random_state=1,max_iter=300)
clf.fit(x_train,y_train)
preds=clf.predict(x_test)
acc=accuracy_score(y_test,preds)
print("The accuracy score obtained by MLP classifier is :",acc)

The accuracy score obtained by MLP classifier is : 0.3076923076923077